
services:
  backtest:
    build: .
    image: binance-breakpoint:latest
    container_name: binance-breakpoint
    env_file:
      - .env
    environment:
      - TZ=Asia/Bangkok
    volumes:
      - ./config.yaml:/app/config.yaml:ro
      - ./out:/app/out
      - ./data:/app/data
    command: ["python","main.py","--config","config.yaml","--out-dir","out"]
    restart: unless-stopped

  demo:
    image: binance-breakpoint:latest
    depends_on:
      - backtest
    container_name: binance-breakpoint-demo
    environment:
      - TZ=Asia/Bangkok
    volumes:
      - ./out:/app/out
    command: ["python","demo_offline.py","--out-dir","out/demo"]
    restart: "no"

  live:
    image: binance-breakpoint:latest
    container_name: binance-breakpoint-live
    env_file:
      - .env
    environment:
      - TZ=Asia/Bangkok
      - SAVEPOINT_DIR=/app/savepoint

    volumes:
      - ./config.yaml:/app/config.yaml:ro
      - ./savepoint:/app/savepoint      
    command: ["python","live_trader.py","--config","config.yaml"]
    restart: unless-stopped